.setlist-create {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--primary);
    border-radius: var(--border-radius);
}

.create-setlist-button {
    margin-bottom: 2rem;
}

.setlist-list {
    margin-right: 1rem;
}
