.song-form-container {
    position: relative;
    padding: 0.25rem;
    width: 100%;
}

.song-form input {
    margin-bottom: 1rem;
}

.song-form-row {
    display: flex;
    flex-direction: row;
}

.close-song-form {
    position: absolute;
    right: 0;
    top: 0;
}

.number-input {
    width: 3rem;
    margin-right: 1rem;
    border: none;
    border-bottom: 2px solid var(--disabled);
}
